@using PagedList.Mvc
@model PagedList.PagedList<Libellus.DataAccess.Domain.Project>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Added by
                        </th>
                        <th>
                            Created date
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var proj in Model)
                    {
                        <tr>
                            <td>
                                @proj.Id
                            </td>
                            <td>
                                @proj.Name
                            </td>
                            <td>
                                @proj.Status
                            </td>
                            <td>
                                @proj.AddedBy
                            </td>
                            <td>
                                @proj.CreatedDate
                            </td>
                            <td>
                                @Html.ActionLink("View", "ViewProject", "Project", new { id = proj.Id }, null)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @Html.PagedListPager(Model, page => Url.Action("GetPaginatedProjects", new { page }))
        </div>
    </div>    
</div>