@model Libellus.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Page.ViewStateMode = ViewStateMode.Enabled;
}

<h2>@ViewBag.Title.</h2>
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">
            I'm a:
        </label>
        <div class="col-md-10 radio">
            @foreach (var item in Model.FacultyRoles)
            {
                <label>
                    @Html.RadioButtonFor(x => x.SelectedFacultyRoleId, (int)item.Id, new { @id = item.Id }) @item.Type
                </label>
            }
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">
            Faculty:
        </label>
        @*@Html.LabelFor(m => m.Faculties, new { @class = "col-md-2 control-label" })*@
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.SelectedFacultyId, new SelectList(Model.Faculties, "Id", "Name"), new { @id = "ddlFaculties", @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">
            Department:
        </label>
        @*@Html.LabelFor(m => m.Faculties, new { @class = "col-md-2 control-label" })*@
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.SelectedDepartmentId, new SelectList(Model.Departments, "Id", "Name"), new { @id = "ddlDepartments", @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

@section Scripts {
    <script type="text/javascript">

        $("#ddlFaculties").change(function () {
            var facultyId = this.value;
            $.ajax({
                url: '@Url.Action("GetDepartmentsByFacultyId", "Account")',
                type: "POST",
                data: { id: facultyId },
                success: function (data) {
                    $('#ddlDepartments').empty();

                    for (key in data) {
                        var newOption = $('<option value="' + data[key].Id + '">' + data[key].Name + '</option>');
                        $('#ddlDepartments').append(newOption);
                    }
                    $('#ddlDepartments').trigger("chosen:updated");
                },
                error: function () {
                }
            });
        });

    </script>
    @Scripts.Render("~/bundles/jqueryval")
}
